@import 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-dark;
  margin: 0rem;
  border: 2rem solid $color-secondary;
  overflow: hidden;
  font-family: 'Myriad Pro', sans-serif;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

button {
  background: transparent;
  outline: none;
}

.container {
  min-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3.8rem;
}

// Buttons

.menu-btn {
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-secondary;
  margin: 0 3rem;
  // position: relative;

  &::before {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width 0s ease, background-color 0.5s ease;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: $color-primary;
    transition: width 0.5s ease;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:hover::before {
    width: 100%;
    background: $color-primary;
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }
}
