@media screen and (max-width: 800px) {
  #landing h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 600px) {
  #landing h1,
  .contact-container h1 {
    font-size: 4rem;
  }

  #landing h3 {
    font-size: 1.3rem;
  }

  .menu-btn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  #landing h1 {
    font-size: 3rem;
  }

  .container {
    padding: 0.3rem;
  }

  #landing h3 {
    font-size: 1.3rem;
    width: 100%;
    letter-spacing: 2px;
  }
}
