// Primary Colours

$color-primary: #006b68;
$color-secondary: #b9d3dc;
$color-overlay: rgba(0, 0, 0, 0.363);
$color-overlay-menu: rgba(0, 107, 104, 0.9);

// Secondary Colours
$color-dark: #4b4f54;
$color-dark-blue: #2c5b6c;
$color-white: #ffffff;
$color-black: #000000;

// Padding and Margin Variable
$pd-sm: 1.2rem;
$pd-md: 2rem;
$pd-lg: 2.8rem;

$mg-sm: 2rem;
$mg-md: 4rem;
$mg-lg: 6rem;
